<!--This code is the landing page code for the cms app-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container d-flex flex-row justify-content-start">
    <div class="cont-one">
      <img src="https://img.polontech.com/media/2018/06/content-managementsystems.jpg" />
    </div>
      <div class="cont-two login-form">
        <h1 class="login-header">Welcome to Content Management System App</h1>
        <br />
        <p class="login-para">Make The Most Of Your Creative Life</p>
        <br />
        <button class="loginbtn" routerLink="/login">Login</button>
        <br />
        <button class="create-account" routerLink="/signup">Create New Account
        </button>
      </div>
    </div>
  <!-- <footer class="foot">
    <p>&copy; RS Magazine.All rights are reserved</p>
  </footer> -->
</body>
</html>