<!--This code is the html code for the Aboutus component-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="about container">
      <h1 class="heading-one">About</h1>
      <p class="heading">
       Content Management System Application is a simple application <br />
       where users can post something and can perform Crud operations on it.<br />
       It is the best platform to share content with a huge community of readers.
      </p>
      <h1 class="heading-one">Vision&Mission</h1>
      <p class="heading">
       Vision and Mission of Content Management System Application is to help users know about others skills <br />
       and potential and build them.Share Knowledge with others.
      </p>
    </section>
    <!-- Foolow Us section Code -->
    <div class="follow-us-section d-flex flex-column justify-content-center">
            <h1 class="follow-us-section-heading">Follow Us</h1>
          </div>
          <div class="icon-container d-flex flex-column justify-content-center">
              <div class="follow-us-icon-container">
                <i class="fa fa-twitter" style="font-size:48px;color:rgb(114, 27, 172)"></i>
              </div>
              <div class="follow-us-icon-container">
                <i class="fa fa-instagram" style="font-size:48px;color:rgb(54, 24, 187)"></i>
              </div>
              <div class="follow-us-icon-container">
                <i class="fa fa-facebook-f" style="font-size:48px;color:rgb(67, 39, 223)"></i>
              </div>
              <div class="follow-us-icon-container">
                <i class="fa fa-linkedin-square" style="font-size:48px;color:rgb(83, 25, 190)"></i>
              </div>
          </div>
  </body>
</html>

