
          <ul class="navbar-nav flex-grow">
        
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login']"
                >Login</a
              >
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a style="color: blue;" class="nav-link text-dark" [routerLink]="['/signup']"
                >SignUp</a
              >
            </li>
          </ul>
      
     