<!--This code is the html code for the content page-->
<section id="contact-form">
    <form>
      <div class="contact-left">
        <h1 class="c-l-heading">
          <font style="border-bottom: 3px solid #1ed98b"></font>CMS App
        </h1>
        <div class="f-name">
          <font>Name of the writer</font>
          <input type="text" placeholder="Full Name" />
        </div>
        <div class="f-email">
          <font>Title</font>
          <input type="text" placeholder="category" />
        </div>
        <div class="f-email">
            <font>Brief Description about content</font>
            <input type="text" placeholder="content" />
          </div>
      </div>
      <div class="contact-right">
        <div class="message">
          <font>Write Your Content Here</font>
          <textarea
            name="message"
            rows="5"
            cols="20"
            placeholder="Start Typing..."
          ></textarea>
        </div>
        <button class="create-account" routerLink="/">Post</button>
      </div>
    </form>
  </section>
  